modules/workflows/OrcaCopyToGlacierWorkflow/orca_copy_to_glacier_workflow.asl.json
{
  "Comment": "On-Demand execution of copy_to_glacier.",
  "StartAt": "CopyToGlacier",
  "States": {
    "CopyToGlacier": {
      "Parameters": {
        "cma": {
          "event.$": "$",
          "task_config": {
            "multipart_chunksize_mb": "{$.meta.collection.meta.multipart_chunksize_mb}",
            "excludeFileTypes": "{$.meta.collection.meta.excludeFileTypes}"
          }
        }
      },
      "Type": "Task",
      "Resource": "${orca_lambda_copy_to_glacier_arn}",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.exception",
          "Next": "WorkflowFailed"
        }
      ],
      "Next": "WorkflowSucceeded"
    },
    "WorkflowFailed": {
      "Type": "Fail",
      "Cause": "Workflow failed"
    },
    "WorkflowSucceeded": {
      "Type": "Succeed"
    }
  }
}