modules/workflows/OrcaCopyToGlacierWorkflow/orca_copy_to_glacier_workflow.asl.json
{
  "Comment": "On-Demand execution of copy_to_glacier.",
  "StartAt": "CopyToGlacier",
  "States": {
    "CopyToGlacier": {
      "Parameters": {
        "cma": {
          "event.$": "$",
          "task_config": {
            "excludedFileExtensions": "{$.meta.collection.meta.orca.excludedFileExtensions}",
            "s3MultipartChunksizeMb": "{$.meta.collection.meta.s3MultipartChunksizeMb}",
            "providerId": "{$.meta.provider.id}",
            "providerName": "{$.meta.provider.name}",
            "executionId": "{$.cumulus_meta.execution_name}",
            "collectionShortname": "{$.meta.collection.name}",
            "collectionVersion": "{$.meta.collection.version}",
            "defaultBucketOverride": "{$.meta.collection.meta.orca.defaultBucketOverride}",
            "defaultStorageClassOverride": "{$.meta.collection.meta.orca.defaultStorageClassOverride}"
          }
        }
      },
      "Type": "Task",
      "Resource": "${orca_lambda_copy_to_glacier_arn}",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.exception",
          "Next": "WorkflowFailed"
        }
      ],
      "Next": "WorkflowSucceeded"
    },
    "WorkflowFailed": {
      "Type": "Fail",
      "Cause": "Workflow failed"
    },
    "WorkflowSucceeded": {
      "Type": "Succeed"
    }
  }
}